#return-value{
    display: flex;
    width: 80vw;
    column-gap: 2rem;
    background-color: rgb(20, 42, 108);
    padding: 1rem;
    border-radius: 4px;
    margin-top: 2rem;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 2rem;
}
#img img{
    width: 20rem;
    height: auto;
    border-radius: 8px;
    border: 2px solid rgb(5, 15, 42);
}
#content h1{
    color: #fff;
}
span{
    color: #f7e9e9;
}
#h1OfImageDetails{
    text-align: left;
}
@media screen and (max-width: 900px){
    html{
        font-size: 90%;
    }
    #img img{
        width: 16rem;
    }
}
@media screen and (max-width: 700px){
    html{
        font-size: 80%;
    }
    #img img{
        width: 14rem;
    }
}
@media screen and (max-width: 600px){
   #return-value{
    flex-direction: column;
   }
   #content{
    row-gap: 1rem;
}
}